.fuse*
*~
.DS_Store
.svn/
.hg/
.ipython/

*.py[co]
*.egg
*.egg-info
\#*\#
auto-save-list
.\#*
TAGS
*_flymake.*
.pyhist
.gdbinit

*.os
*.so
*.a
*.dylib
*.o
*.la

_build
.sconf_temp
.sconsign.dblite
config.log

.project
.pydevproject
.settings/
